body {
    background: #ebebeb;
    color: #000000;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
header,
main,
footer {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
}
img {
    width: 100%;
}
ul {
    list-style-type: none;
}
h1 {
    font-size: 2em;
    text-shadow: 4px 4px #808080;
    text-transform: uppercase;
}
h2 {
    font-size: 1.15em;
}
h3 {
    font-size: 1.25em;
}
p {
    font-size: 1em;
}
/* HEADER */
header h1,
header h3 {
    width: 90%;
}
nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 80%;
}
nav ul {
    padding: 0;
}
nav ul li {
    font-weight: bold;
    text-align: center;
    width: 100%;
}
nav ul li a {
    color: #808080;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
}
/* FOOTER */
footer ul li {
    display: block;
    font-size: 0.5em;
}
footer ul li a {
    text-decoration: none;
}
/* HOME */
header,
main {
    border-bottom: 2px double #808080;
}
#home {
    border-bottom: 2px double #808080;
}
.sidebar {
    padding: 0 2% 2% 2%;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar img {
    border-radius: 50%;
}
.pet {
    border: 2px dashed #808080;
    border-radius: 5%;
    padding: 0 1%;
}
/* ABOUT */
#about {
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    width: 90%;
}
/* SERVICES */
.routine {
    padding-left: 2%;
    padding-right: 5%;
}
.emergency {

}
.services {

}
.appt {
    padding-left: 2%;
}
.appt label {
    margin-left: 0.5%;
}
.appt input {
    margin-bottom: 2%;
    margin-left: 0.5%;
}
.plans {
    padding-left: 2%;
}
.plans th, .plans td {
    text-align: center;
}
/* FORMS */
form {
    border: 2px solid #000000;
    margin: 1% 0;
    padding: 0 15% 2% 15%;
    text-align: center;
    width: 90%;
}
form h2:nth-child(1) {
    font-style: italic;
    text-transform: uppercase;
}
form p:nth-child(2),
form p:nth-child(3) {
    font-style: italic;
}
.exam ul li {
    list-style: none;
}
label, input {
    align-items:center;
    display: flex;
    justify-content: center;
    margin: 1% 0;
    text-align: left;
    width: 90%;
}
table {
    margin: 0 0 5% 5%;
    width: 90%;
}
table, 
th, 
td {
    border: 1px solid #000000;
    border-collapse: collapse;
}
th,
td {
    display: block;
    text-align: center;
}
strong {
    text-transform: uppercase;
}
.exam .info {
    border: 2px solid #000000;
    font-weight: bold;
    padding: 1% 3% 0 1%;
    text-transform: uppercase;
}
/* STORE */
.store img,
.store p {
    width: 90%;
}
/* BLOG */

@media (min-width: 768px) {
    h1 {
        font-size: 2.5em;
        text-shadow: 4px 4px #808080;
        text-transform: uppercase;
    }
    h2 {
        font-size: 1.25em;
    }
    h3 {
        font-size: 1.5em;
    }
    p {
        font-size: 1em;
    }
    /* HEADER */
    nav {
        align-items: center;
        width: 80%;
    }
    nav ul {
        display: flex;
        flex-flow: row wrap;
        padding: 0 0 0 5%;
        width: 100%;
    }
    nav ul li {
        font-size: 1.25em;
        justify-content: space-between;
        width: 50%;
    }
    /* FOOTER */
    footer ul li {
        display: inline-block;
        font-size: 0.75em;
    }
    /* HOME */
    #home,
    #client  {
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 90%;
    }
    #client h2 {
        width: 100%;
    }
    .topic {
        width: 60%;
    }
    .sidebar {
        border-left: 2px double #808080;
        width: 35%;
    }
    .review {
        width: 45%;
    }
    .review p {
        text-align: left;
    }
    /* ABOUT */
    .mission,
    .vision,
    .values,
    .doctors,
    .staff {
        width: 45%;
    }
    /* FORMS */
    table {
        display: inline-block;
    }
}
@media (min-width: 1200px) {
    h1 {
        font-size: 3em;
        text-shadow: 4px 4px #808080;
        text-transform: uppercase;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.75em;
    }
    p {
        font-size: 1em;
    }
    /* HEADER */
    nav {
        align-items: center;
        width: 80%;
    }
    nav ul {
        display: flex;
        flex-flow: row wrap;
    }
    nav ul li {
        padding: 0 0 0 5%;
        width: auto;
    }
    nav ul li a {
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }
    /* HOME */
    .sidebar img {
        width: 90%;
    }
}