body {
    background: #ebebeb;
    color: #000000;
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 100%;
}
header,
main,
footer {
    width: 90%;
}
h1 {
    font-size: 3em;
    text-align: center;
    text-shadow: 4px 4px #808080;
    text-transform: uppercase;
}
h2 {
    font-size: 1.5em;
    padding-left: 2%;
}
h3 {
    font-size: 1.75em;
    text-align: center;
}
p {
    padding-left: 2%;
}
/* HEADER */
h1,
h2 {
    text-align: center;
}
nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 0 0 10%;
    width: 80%;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    font-size: 1.25em;
    padding-right: 30px;
    text-decoration: none;
}
/* HOME */
#home {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 90%;
}
#home {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}
#home h2,
#client h2 {
    text-align: left;
    width: 100%;
}
.sidebar {
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    width: 35%;
}
.sidebar h2 {
    text-align: left;
}
.sidebar img {
    border: 2px dashed #808080;
    border-radius: 10%;
    padding: 1%;
    width: 85%;
}
#client {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 90%;    
}
/* ABOUT */
#about {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 45%;
}
/* SERVICES */
.routine {
    padding-left: 2%;
    padding-right: 5%;
}
.emergency {

}
.services {

}
.appt {
    padding-left: 2%;
}
.appt label {
    margin-left: 0.5%;
}
.appt input {
    margin-bottom: 2%;
    margin-left: 0.5%;
}
.plans {
    padding-left: 2%;
}
.plans th, .plans td {
    text-align: center;
}
/* FORMS */
.info,
.medrec,
.soap,
.exam,
.admit,
.history,
.certif,
.release,
.board,
.estimate,
.discharge {
    margin: 0 2.5% 1% 5%;
    text-align: left;
}
form {
    border: 1px solid #000000;
    padding: 0 0 0 20%;
}
label, input {
    align-items: center;
    margin: 1% 0;
}
.medical table, .soap table {
    margin: 2% 5%;
    width: 90%;
}
table {
    margin-bottom: 5%;
}
table, th, td {
    border: 1px solid #000000;
    border-collapse: collapse;
    width: 100%;
}
th, td {
    height: 24px;
    padding-left: 2%;
    text-align: left;
    width: 10%;
}
strong {
    text-transform: uppercase;
}
#txtDate, #txtBreed, #txtRate, #txtTech, #txtVet, #txtAmt, #txtCity, #txtSt {
    width: 20%;
}
#txtPhone, #txtNum, #txtPet, #txtBirth, #txtSpec, #txtCol, #txtGen, #txtOth, #txtLast, #txtFirst, #txtSer {
    width: 15%;
}
#txtName, #txtSign {
    width: 40%;
}
#txtAddy, #txtTag {
    width: 35%;
}
#txtPost {
    width: 13%;
}
#txtProv {
    width: 27%;
}
#txtAge, #txtFreq {
    width: 5%;
}
#txtFixed {
    width: 3%;
}
#txtRes {
    width: 71%;
}
/* STORE */

/* BLOG */